<div class="parent">
  <div class="container">
    <div class="offer-card">
<!--      <div class="offer-image"></div>-->
      <img *ngIf="offer.file" [src]="getPhotoUrl(offer.file)" alt="Offer image">
      <div class="offer-image" *ngIf="!offer.file"></div>
      <div class="offer-info">
        <h2>{{ offer.title }}</h2>
        <p>{{ offer.description }}</p>
        <span>City: {{ getCityNameById(offer.cityId) }}</span>
        <br>
        <span>Category: {{ getCategoryNameById(offer.categoryId) }}</span>
      </div>
    </div>
  </div>
</div>
