
<div class="parent">
  <div class="container active" id="container">
    <div class="form-container sign-up" >
<!--      <form>-->
<!--        -->
<!--        <input type="text" name="title" [(ngModel)]="createOfferObj.title" placeholder="Title">-->
<!--        <input type="email" name="email" [(ngModel)]="createOfferObj.description" placeholder="Description">-->
<!--&lt;!&ndash;        <input type="text" name="phone" [(ngModel)]="createOfferObj.phone" placeholder="Your Number">&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="password" name="password"  [(ngModel)]="signUpObj.password" placeholder="Password">&ndash;&gt;-->
<!--        <select [(ngModel)]="createOfferObj.cityId">-->
<!--          <option value="">Select a category</option>-->
<!--          <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>-->
<!--        </select>-->

<!--        <select [(ngModel)]="createOfferObj.categoryId">-->
<!--          <option value="">Select a category</option>-->
<!--          <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>-->
<!--        </select>-->
<!--        <button (click)="CreateOffer()">Create</button>-->
<!--      </form>-->
      <form [formGroup]="createOfferForm">
        <h1>Create Offer</h1>
        <br>
        <span>Tell us more about your offer</span>
        <input type="text" formControlName="title" placeholder="Title">
        <input type="email" formControlName="description" placeholder="Description">
        <div class="selects-lol">
          <select formControlName="cityId">
            <option value="">Select a city</option>
            <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
          </select>
          <select formControlName="categoryId">
            <option value="">Select a category</option>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="file">Photo:</label>
          <input type="file" id="file" (change)="handleFileInput($event)">
        </div>
        <button type="submit" (click)="CreateOffer()">Create</button>
      </form>
    </div>
  </div>
</div>
