<form>
  <div class="select-container">
    <p>City:</p>
    <select [(ngModel)]="cityId" (change)="applyFilters()" name="city" class="select">
      <option value="">All cities</option>
      <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
    </select>
  </div>
  <div class="select-container">
    <p>Category:</p>
    <select [(ngModel)]="categoryId" (change)="applyFilters()" name="category" class="select">
      <option value="">All categories</option>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>
</form>
