.carousel{
    display: flex;
    transition: transform 0.6s ease-in-out;

}
.carousel-item{
    flex:  0 0 auto;
    width: 100%;

}
.carousel-item img{
    width: 100%;
    height: auto;
    object-fit: cover;
}