<div class="chat-container">
    <div class="users-list">
        <div *ngFor="let user of users" (click)="onSelectUser(user)" [ngClass]="{ 'selected': user === selectedUser }" class="user-item">
            {{ user.name }}
        </div>
    </div>

    <div class="messages">
        <div *ngIf="selectedUser" class="message-container">
            <div *ngFor="let message of selectedUser.messages" class="message" [ngClass]="{ 'own-message': message.senderId === currentUser.id, 'their-message': message.senderId !== currentUser.id }">
                {{ message.text }}
            </div>
        </div>
    </div>

    <div class="input-container">
        <input type="text" placeholder="Type your message..." [(ngModel)]="newMessage" class="message-input">
        <button (click)="sendMessage()" class="send-button">Send</button>
    </div>
</div>
