<div class="parent">
  <div class="container">
    <app-offers-filter (filtersApplied)="getOffers($event.cityId, $event.categoryId)"></app-offers-filter>
    <h1>Offers</h1>
    <div class="offers-container">
      <div *ngIf="offers.length === 0">
        <p>No offers found.</p>
      </div>
      <div *ngFor="let offer of offers" class="offer-card">
        <a [routerLink]="['/offer-details', offer.id]">
          <img *ngIf="offer.file" [src]="getPhotoUrl(offer.file)" alt="Offer image">
          <div class="offer-image" *ngIf="!offer.file"></div>
        </a>
        <div class="offer-info">
          <a [routerLink]="['/offer-details', offer.id]">
          <h2>{{ offer.title }}</h2>
          <p>{{ offer.description }}...</p>
          </a>
          <div class="offer-details">
            <span>City: {{ getCityNameById(offer.cityId) }}</span>
            <br>
            <span>Category: {{ getCategoryNameById(offer.categoryId) }}</span>
            <br>
            <button *ngIf="isAdmin" (click)="deleteOffer(offer.id)">Delete</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
